body {
  font-family: 'Inconsolata', monospace;
}

.color-list {
  display: flex;
  flex-direction: row;
  height: 20vh;
  border-radius: 25px;
}

.color {
  flex: 0 0 20%;
  /*flex-grow | flex-shrink | flex-basis*/
  box-shadow: 0 0 30px #424242;
  padding: 1em;
  color: white;
  transition: flex-basis 0.5s ease-in-out;
}
.color:hover {
  flex-basis: 40%;
}
.color:hover .details {
  opacity: 1;
}

.name {
  font-size: 1.2em;
}

.details {
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.details li {
  line-height: 2em;
}

#clean {
  background-color: #363b25;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#butter {
  background-color: white;

}

#salmon {
  background-color: white;
}

#eggplant {
  background-color: #363b25;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

* {
  box-sizing: border-box;
}
